  
 

#headerImage img {
 margin-bottom: 50px;
 max-width: 100%;
 height: auto;
}


.container {
 margin-top: 10px;
}

#header-title {
	text-align:right;
	font-size: 40px;
	font-style: 
}

#header-subtitle {
	text-align: right;
	font-size: 30px;
}


 .feature img {
 margin-bottom: 20px;
 max-width: 100%;
 height: auto;
 text-align: center;
}

hr {
	border: none;
    height: 5px;
    color: #BCBBBB; /* old IE */
    background-color: #BCBBBB; /* Modern Browsers */
    margin-top: 0.2em;
    margin-bottom: 2.2em;
	height: 5px;
}

footer {
	text-align: center;
	font-weight: bold;
}